@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    background-color: rgb(10, 13, 28);
  }
.male {
    width: 16%;
    margin: auto;
    justify-content: center;
}
.male path{
    fill: #E8BEAC;
    stroke:black;
    stroke-width: 1px;
}
.male path:hover {
    fill: white;
    opacity: 0.5em;
    transition: 0.6s;
    cursor: pointer;
}

h1,p {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}
