@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{ 
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
  background-color: rgb(10, 13, 28);
}
.page1 {
  height: 450px;
  width: 800px;
  border: 2px solid white;
  border-radius: 1px;
  justify-content: center;
  margin: 100px 210px;
  background-color: white;
}
p, h2, h4,b {
  margin: 10px 10px;
  text-align: center;
}
.page1 img {
  background-color: white;
  height: 300px;
  width: 300px;
  float: right;
  margin: 30px 20px;
  
}
.container{
  border: 2px solid white;
  background-color: white;
  border-radius: 2px;
  width: 250px;
  margin: 10px 40px ;
  margin-bottom: 50px;
  padding: 20px 20px;
}
#mycheck {
  float: left;
}
#mycheck1 { 
  float: left;
}
#button {
  float:right;
  margin-top:110px;
  background-color:rgb(10, 13, 28);
  box-shadow: 4px 4px black;
  border: 2px solid green;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
}
#button:hover {
  transform: scale(1.1);
}
a {
  color: white;
}